# ===========================
# IDE
# ===========================
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===========================
# Uploads / Media
# ===========================
uploads/
media-uploads/

# ===========================
# Spring Boot / Maven
# ===========================
target/
*.jar
*.war
*.class
*.log

# ===========================
# Angular / Node
# ===========================
node_modules/
dist/
.angular/
*.env

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db