services:
  postgres:
    container_name: postgres-sql
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: ping-me
    volumes:
      - postgres:/data/postgres
    ports:
      - 5433:5432
    networks:
      - ping-me
    restart: unless-stopped
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.3.0
    ports:
      - 9090:8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    networks:
      - ping-me
    command:
      - "start-dev"
networks:
  ping-me:
    driver: bridge

volumes:
  postgres:
    driver: local
  keycloak:
    driver: local